<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <label class="font-weight-normal">Key:</label>
      <p class="font-weight-light">
        <code><%= @key[:key] %></code>
      </p>
      <label class="font-weight-normal">Value:</label>
      <p class="font-weight-light">
        <code><%= @key[:node][:value] %></code>
      </p>
      <label class="font-weight-normal">Expires in:</label>
      <p class="font-weight-light">
        <%= expiry(@key[:expiry]) %>
      </p>
      <label class="font-weight-normal">Size:</label>
      <p class="font-weight-light">
        <code><%= number_to_human_size(@key[:memory]) %></code>
      </p>
      <label class="font-weight-normal">Type:</label>
      <p class="font-weight-light">
        <kbd class="bg-dark"><%= @key[:type] %></kbd>
      </p>
      <p class="font-weight-light">
        <%= link_to 'Delete', destroy_key_path(key: @key[:key]), method: :delete, data: {confirm: 'Are you sure ?'}, title: "Delete #{@key}", class: "btn btn-sm btn-danger w-100 mb-2 #{disabled_if_readonly}" %>
        <%= link_to 'Back', keys_path, title: 'View keys', class: 'btn btn-sm btn-primary w-100' %>
      </p>
    </div>
  </div>
</div>
